@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Project 1 Simple Web Application</h1>
    <p>Enjoy exploring some of the features.</p>
</div>
