@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my Simple Web Application</h1>
    <p>Enjoy the simple features of this application</p>
</div>
