@model StoreWebApp.Models.OrderViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Add Order</h1>

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" id="form">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label for="locationSelect">Select Store</label>
                <select asp-for="Store" class="form-control" id="locationSelect">
                    @foreach (var location in Model.StoreList)
                    {
                        <option value=@location.StoreId>@location.StoreName</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label for="customerSelect">Select customer</label>
                <select asp-for="Customer" class="form-control" id="customerSelect">
                    @foreach (var customer in Model.CustomerList)
                    {
                        <option value=@customer.CustomerId>@customer.FirstName, @customer.LastName</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
